<html>
    <head>
        <title>
            File upload
        </title>
    </head>
    <body>
        <h4> Upload Demo </h4>

        <form action="http://localhost:8080/uploadPic" method ="POST" enctype="multipart/form-data">
            <span>Uplaod the image</span>
            <br>
            <hr/>
            <div>
                <input type = "file" name="mypic" required/>
                <br/>
                <br/>
                <input type ="submit" value="Submit"/>
            </div>
        </form>
    </body>
</html>